/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Web Fonts - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display-swap');
/*font-family : 'Source Sans Pro', sans-serif; */

/* Web Fonts - NoonNoo */
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Reset CSS (mine) */
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #333;
}
button, input {
    outline : none;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: normal;
    line-height: 1.5em;
}

/* DEfault CSS (body) */
body {
    font-family: 'Nexon LV2 Gothic', sans-serif;
    font-size: 18px;
    line-height: 1.7em;
    margin: 0;
    background-color: #fff;
    color: #222;
}

/* ################ Header ################ */
header {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.header-inner {
    border: 1px solid #000;
    width: 1300px;
    margin: auto;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 15px;
}
.logo /*로고*/ {
    float: left;
}
.logo img {
    margin-top: -7px;
}
.gnb /*각 섹션들*/ {
    float: right;
}
.gnb a {
    margin: 10px;
    font-size: 16px;
}

/* ################ section : welcome ################ */
.welcome {
    border: 5px solid #000;
    height: 90vh;
    position: relative;
}
.slideshow {}
.welcome-heading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 200px;
}
.welcome-heading span {}
.welcome-heading h1 {}
.welcome-heading em {}
.welcome-heading p {} 
.welcome-btns {}
.welcome-btns .btn {}
.btn.start {}
.btn.guide {}
/* ################ section : banner ################ */

/* ################ section : feature ################ */

/* ################ section : vision ################ */

/* ################ section : faq ################ */

/* ################ section : review ################ */

/* ################ section : focus ################ */

/* ################ section : guide ################ */

/* ################ section : news ################ */

/* ################ Footer ################ */
